.container {
  color: rgb(245, 6, 6);
  /* display: flex;
  justify-content: space-between; */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center; /* 2. Horizontally center content */
  
  height: 100vh;
  width: 50vh;
  background-color: rgb(135, 34, 116);
  float: right;
  
}




