.container {
  color: rgb(255, 255, 255);
  /* display: flex;
  justify-content: space-between; */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center; /* 2. Horizontally center content */
  height: 100px;
  width: 100%;
  
  background-color: rgb(0, 0, 0);
  float: bottom;
}