.container {
  color: rgb(0, 0, 0);
  /* display: flex;
  justify-content: space-between; */
  text-align: left;
  align-items: flex-start;
  display: flex;
  justify-content: center; /* 2. Horizontally center content */
  height: 80vh;
  width: 100vh;
  background-color: rgb(255, 255, 255);
  float: center;
  flex-direction: column;
  margin: 10px;

}
.img {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.description {
  font-size: 18px;
  margin-top: 10px;
  text-align: justify ;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  align-self: flex-start;
  width: 100%;
  
}
